

<% if @article.errors.any? %>
<h2>The following errors prevented the article from getting created</h2>
<ul>
    <!-- so, for each full_message do something, ->
    <% @article.errors.full_messages.each do |msg| %>
    
    
    <!--and what do we want to do with the msg, we simply want it to display, but we can have more than 1 message, we can have more than 1 error, so we simply use <li>-->

        <li><%= msg %></li>

    <% end %>
</ul>
<% end %>


    <!--for the (f) you can choose other name-->
<%= form_for @article do |f| %>

    <p>
        <%= f.label :title %><br />
        <%= f.text_field :title %>
    </p>
    <p>
        <%= f.label :description %><br />
        <%= f.text_area :description %>
    </p>
    <p>
        <%= f.submit %>
    </p>

<% end %>

<%= link_to "Back to articles listing", articles_path %>
