<!DOCTYPE html>
<html>
<head>
  <title>AlphaBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
<!-- Our flash module which is responsible for our messages/notifies whenever the action is successful or not was moved to a different file that we created -- partial file named _messages.html.erb  and  we also call the function to connect our partial here below-->

  <%= render 'layouts/messages' %>

  <%= yield %>

</body>
</html>
